.article_item{
  display: flex;
  height: 90vh;
  padding: 50px 100px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.article_item__h1 {
  max-width: 100%;
  overflow: auto;
}
.article_item__buttons_head{
  display: flex;
  gap: 15px;
}
.article_item__buttons_bottom{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.article_item__button {
  display: inline-block;
  padding: 15px 25px;
  cursor:pointer;
  background: #a19f9f;
}
