<div class="article_item">
  <div class="article_item__buttons_head">
    <div class="article_item__button" (click)="onGoBack()">Назад</div>
  </div>
  <h1 class="article_item__h1">Запись "{{article.title}}"</h1>
  <input type="text" [(ngModel)]="article.title">
  <textarea cols="30" rows="10" [(ngModel)]="article.content"></textarea>
  <div class="article_item__buttons_bottom">
    <div class="article_item__button" (click)="onDelete(this.index)">Удалить</div>
    <div class="article_item__button" (click)="onSave(this.article,this.index)">Сохранить</div>
  </div>
</div>
