.blog{
  height: 90vh;
  padding: 50px 100px;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.pagedata{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.elementsHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order:1;
  gap: 15px;
}
.element {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.element .title {
  font-weight: bold;
}

.element .content {
  background: white;
  padding: 5px 15px;
  border: 2px solid black;
  width: 100%;
  line-break: anywhere;
  min-height: 150px;
  max-height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}
.element .goTo {
  background: #a19f9f;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
.addHolder{
  order:2;
  text-align: right;
}
::ng-deep .add {
  display: inline-block;
  padding: 15px 25px;
  background: #a19f9f;
}
/* Modal */

.add_form {
  max-width: 400px;
  max-height: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 1.75rem auto;
  padding: 25px 15px;
  gap: 15px;
}
.add_form__buttons_holder {
  display: flex;
  justify-content: right;
  gap: 20px;
}
.add_form .add_form__button {
  padding:10px 15px;
  background: #a19f9f;
  border: 1px solid black;
  cursor: pointer;
}
